/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-image: url(https://imgs.search.brave.com/PtFOkV8puLiB77tcv6mJNzkcBcZhT2yclzQ0B8r-0no/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvNDYy/OTY2NjQzL2VzL2Zv/dG8vdGV4dHVyYS1k/ZS1mb25kby1jb24t/YyVDMyVBOXNwZWQt/cyVDMyVBMWJhbmFz/LmpwZz9zPTYxMng2/MTImdz0wJms9MjAm/Yz1VbVVJeTZDbWNl/dHR5TFBQbUd3T3lO/RFhNaVdvbGpUcVlY/VGRiNnBpN0NFPQ);
  text-align: center;
}

/* Contenedor de las tablas */
.table-container {
  margin: 20px auto;
  width: 80%;
  max-width: 1000px;
  background-color: rgb(4, 59, 9);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Título de la tabla */
.table-title {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}

/* Estilos de la tabla */
.table-schedule {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  flex-direction: column;
}

.table-schedule th,
.table-schedule td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.table-schedule th {
  background-color: #4caf50;
  color: white;
}

.table-schedule td {
  background-color: #f9f9f9;
  color: black;
}

.team-column img {
  height: 24px;
  margin-right: 8px;
  vertical-align: middle;
  justify-content: center;
}

/* Estilo del botón */
.button-row {
  text-align: right;
}

button {
  background-color: red;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: darkred;
}

.titulo {
  font-family: "Danfo";
}
.btn-liga {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 20px;
}

.btn-liga:hover {
  background-color: #218838;
}
